/* Основні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Стилі для модального вікна */
.modal {
    display: none; /* Приховуємо модальне вікно за замовчуванням */
    position: fixed; /* Фіксуємо модальне вікно на екрані */
    z-index: 1; /* Розміщуємо модальне вікно над усім іншим контентом */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Задаємо чорний фон з прозорістю */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Центруємо модальне вікно */
    padding: 10;
    border: 1px solid #888;
    width: 80%; /* Ширина модального вікна */
    max-width: 500px;
    border-radius: 10px;
}

.modal-header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
}

.close {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
}

label, input, textarea, select {
    display: block;
    width: 95%;
    margin: 10px 10px;
    padding: auto;
}

input, textarea, select {
    padding: 8px;
    box-sizing: border-box;
}

.saveButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 20px auto 10px;
    font-size: 16px;
}

.saveButton:hover {
    background-color: #0056b3;
}
